body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Halant", serif;
}

.my-name {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;
}
.make-up-height {
  height: 60px;
}
.custom-font-size {
  line-height: 34px;
  font-size: 24px;
}

.bg-navbar-custom {
  background-color: #c2c2c3;
}
.nav-link {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;
  font-size: 28px;
}

.image-wrapper {
  max-width: 420px;

  background-image: -webkit-linear-gradient(
    rgba(0, 0, 0, 0.01) 0%,
    rgba(128, 111, 111, 0.1) 55%,
    rgba(0, 0, 0, 0.75) 100%
  );
  background-image: -o-linear-gradient(
    rgba(0, 0, 0, 0.01) 0%,
    rgba(0, 0, 0, 0.1) 55%,
    rgba(0, 0, 0, 0.75) 100%
  );
}

.under-below {
  text-decoration: underline;
  -webkit-text-underline-position: under;
  -ms-text-underline-position: below;
  text-underline-position: under;
}

/* navbar */
/* The Overlay (background) */
.overlay {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */
  height: 100%;
  width: 0;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  background-color: rgb(0, 0, 0); /* Black fallback color */
  background-color: rgba(0, 0, 0, 0.9); /* Black w/opacity */
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
  position: relative;
  top: 25%; /* 25% from the top */
  width: 100%; /* 100% width */
  text-align: center; /* Centered text/links */
  margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */
.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block; /* Display block instead of inline */
  transition: 0.3s; /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover,
.overlay a:focus {
  color: #f1f1f1;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px;
  }
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}
/* blog */

.bg-grey {
  background-color: #c0c0c0;
}

.fdb-block .fdb-touch {
  border-top: solid 0.3125rem #329ef7;
  z-index: 2;
}

.fdb-block .fdb-box {
  background: #fff;
  padding: 3.75rem 2.5rem;
  overflow: hidden;
  color: #444;
  border-radius: 0.25rem;
  box-shadow: 0 0.3125rem 0.875rem 0 rgba(129, 129, 129, 0.2) !important;
}
/* end blog */
@media only screen and (max-width: 320px) {
  .my-name {
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 700;
  }

  .custom-font-size {
    line-height: 30px;
    font-size: 19px;
  }
  .make-up-height {
    height: 120px;
  }
}

@media only screen and (min-width: 321px) and (max-width: 360px) {
  .my-name {
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 700;
  }

  .custom-font-size {
    line-height: 30px;
    font-size: 19px;
  }
  .make-up-height {
    height: 120px;
  }
}
@media only screen and (min-width: 361px) and (max-width: 480px) {
  .my-name {
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 700;
  }

  .custom-font-size {
    line-height: 30px;
    font-size: 19px;
  }
  .make-up-height {
    height: 120px;
  }
}
@media only screen and (min-width: 481px) and (max-width: 568px) {
  .custom-font-size {
    line-height: 30px;
    font-size: 19px;
  }
}
@media only screen and (min-width: 569px) and (max-width: 640px) {
  .custom-font-size {
    line-height: 30px;
    font-size: 19px;
  }
}
@media only screen and (min-width: 641px) and (max-width: 768px) {
  /*  */
  .custom-font-size {
    line-height: 30px;
    font-size: 20px;
  }
}
@media only screen and (min-width: 769px) and (max-width: 800px) {
  /*  */
  .custom-font-size {
    line-height: 30px;
    font-size: 20px;
  }
}
@media only screen and (min-width: 801px) and (max-width: 1024px) {
  .custom-font-size {
    line-height: 30px;
    font-size: 22px;
  }
}
@media only screen and (min-width: 1025px) and (max-width: 1280px) {
}

@media only screen and (min-width: 1281px) and (max-width: 1366px) {
}

@media only screen and (min-width: 1367px) and (max-width: 1440px) {
}

@media only screen and (min-width: 1441px) and (max-width: 1840px) {
}

@media only screen and (min-width: 1841px) and (max-width: 1920px) {
}
